name: Checks

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

env:
  GO_VERSION: 1.24.2
  GOLANGCI_LINT_VERSION: v2.1

jobs:
  checks:
    name: Test and Lint
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Test
        run: go test -v ./...

      - name: Lint
        uses: golangci/golangci-lint-action@v8.0.0
        with:
          version: ${{ env.GOLANGCI_LINT_VERSION }}
